   <footer>
       <p class="footerText">
           <a target="_blank" href="https://github.com/baldaxx"><img class="iconesRS" src="/glimpsGoneV2/assets/img/github.png" alt="icone menant à Github"></a>
           <a target="_blank" href="https://www.linkedin.com/in/baldax/"><img class="iconesRS" src="/glimpsGoneV2/assets/img/linkedin.png" alt="icone menant à Linkedin"></a>
           <a target="_blank" href="https://www.instagram.com/baldax_avec_un_x/"><img class="iconesRS" src="/glimpsGoneV2/assets/img/instagram.png" alt="icone menant à Instagram"></a> <br> © 2024 GlimpsGone. Tous
           droits
           réservés.
       </p>
   </footer>
   <script src="/glimpsGoneV2/assets/js/script.js"></script>
   </body>

   </html>
