footer
  p.footerText
    a(target="_blank" href="https://github.com/baldaxx")
      img.iconesRS(src="../public/img/github.png" alt="icone menant à Github")
    a(target="_blank" href="https://www.linkedin.com/in/baldax/")
      img.iconesRS(src="../public/img/linkedin.png" alt="icone menant à Linkedin")
    a(target="_blank" href="https://www.instagram.com/baldax_avec_un_x/")
      img.iconesRS(src="../public/img/instagram.png" alt="icone menant à Instagram")
    |  © 2024 GlimpsGone. Tous droits réservés.

script(src="../public/js/script.js")
