div.content
  div.container-fluid
    div.row.align-items-end
      div.col-3.col-sm-4.col-md-2
        img.logo(src="/glimpsGoneV2/public/img/LogoBlanc.png", alt="Logo de Glimps Gone, l'extravagante galerie d'art d'oeuvre invisible")
      div.col-9.col-sm-8.col-md-10
        h1.titre GLIMPS GONE
    div
      h2.slogan L’extravagante Galerie d'Art des Œuvres Invisibles !
    div.nav-container
      nav
        ul
          li
            a(href="/glimpsGoneV2/view/index.php") Accueil
          li
            a(href="/glimpsGoneV2/view/galerie.pug") Galerie
          li
            a(href="/glimpsGoneV2/view/ajouter.pug") Ajouter
          li
            a(href="/glimpsGoneV2/view/faq.pug") FAQ
          li
            a(href="/glimpsGoneV2/view/infos.pug") A propos&contact
    div.menuBurger
      button(onclick="toggleMenu()")
        img.burger(src="../public/img/menuBurger.png", alt="Menu")
    div.menuBurgerDesign#menuBurgerDesign
      a.closebtn(href="javascript:void(0)", onclick="toggleMenu()") ×
      a(href="/glimpsGoneV2/view/index.php") Accueil
      a(href="/glimpsGoneV2/view/galerie.pug") Galerie
      a(href="/glimpsGoneV2/view/ajouter.pug") Ajouter
      a(href="/glimpsGoneV2/view/faq.pug") FAQ
      a(href="/glimpsGoneV2/view/infos.pug") A propos&contact
