- var isUserLoggedIn = isset($_SESSION['user_id']) && $_SESSION['user_id'] !== null
- var userId = isset($_SESSION['user_id']) ? $_SESSION['user_id'] : null

div.content
  div.container-fluid
    div.row.align-items-center.justify-content-between
      div.col-auto.d-flex.align-items-center
        img.logo(src="/glimpsGoneV2/public/img/LogoBlanc.png", alt="Logo de Glimps Gone, l'extravagante galerie d'art d'œuvre invisible")
        h1.titre.ml-3 GLIMPS GONE
      div.col-auto.d-flex.align-items-center
        if isUserLoggedIn
          a.custom-bouton1.mr-2(href="/glimpsGoneV2/profil") Mon profil
          a.custom-bouton2.ml-2(href="/glimpsGoneV2/deconnexion") Deconnexion
        else
          a.custom-bouton1.mr-2(href="/glimpsGoneV2/connexion") Se connecter
          a.custom-bouton2.ml-2(href="/glimpsGoneV2/enregistrer") S'enregistrer
    div
      h2.slogan L’extravagante Galerie d'Art des Œuvres Invisibles !
    div.nav-container
      nav
        ul
          li
            a(href="/glimpsGoneV2/") Accueil
          li
            a(href="/glimpsGoneV2/galerie") Galerie
          li
            a(href="/glimpsGoneV2/ajouter") Ajouter
          li
            a(href="/glimpsGoneV2/faq") FAQ
          li
            a(href="/glimpsGoneV2/infos") Contact
    div.menuBurger
      button(onclick="toggleMenu()")
        img.burger(src="/glimpsGoneV2/public/img/menuBurger.png", alt="Menu")
    div.menuBurgerDesign#menuBurgerDesign
      a.closebtn(href="javascript:void(0)", onclick="toggleMenu()") ×
      a(href="/glimpsGoneV2/") Accueil
      a(href="/glimpsGoneV2/galerie") Galerie
      a(href="/glimpsGoneV2/ajouter") Ajouter
      a(href="/glimpsGoneV2/faq") FAQ
      a(href="/glimpsGoneV2/infos") Contact
