<div class="content">
  <div class="container-fluid">
    <div class="row align-items-end">
      <div class="col-3 col-sm-4 col-md-2"><img src="/glimpsGoneV2/assets/img/LogoBlanc.png" class="logo" alt="Logo de Glimps Gone, l'extravagante galerie d'art d'oeuvre invisible"></div>
      <div class="col-9 col-sm-8 col-md-10">
        <h1 class="titre">GLIMPS GONE</h1>
      </div>
    </div>
    <div>
      <h2 class="slogan">L’extravagante Galerie d'Art des Œuvres Invisibles !</h2>
    </div>

    <div class="nav-container">
      <nav>
        <ul>
          <li><a href="/glimpsGoneV2/index.php">Accueil</a></li>
          <li><a href="/glimpsGoneV2/pages/user/galerie.php">Galerie</a></li>
          <li><a href="/glimpsGoneV2/pages/user/ajouter.php">Ajouter</a></li>
          <li><a href="/glimpsGoneV2/pages/user/faq.php">FAQ</a></li>
          <li><a href="/glimpsGoneV2/pages/user/infos.php">A propos & contact</a></li>
        </ul>
      </nav>
    </div>

    <div class="menuBurger">
      <button onclick="toggleMenu()">
        <img class="burger" src="/glimpsGoneV2/assets/img/menuBurger.png" alt="Menu">
      </button>
    </div>
    <div class="menuBurgerDesign" id="menuBurgerDesign">
      <a href="javascript:void(0)" class="closebtn" onclick="toggleMenu()">&times;</a>
      <a href="/glimpsGoneV2/index.php">Accueil</a>
      <a href="/glimpsGoneV2/pages/user/galerie.php">Galerie</a>
      <a href="/glimpsGoneV2/pages/user/ajouter.php">Ajouter</a>
      <a href="/glimpsGoneV2/pages/user/faq.php">FAQ</a>
      <a href="/glimpsGoneV2/pages/user/infos.php">A propos & contact</a>
    </div>
  </div>
