@font-face {
    font-family: 'TheNextFont';
    src: url('/glimpsGoneV2/public/font/TheNextFont.ttf');
}

@font-face {
    font-family: 'DancingScript';
    src: url('/glimpsGoneV2/public/font/DancingScript.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('/glimpsGoneV2/public/font/Lato.ttf');
}

html {
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #1b1b1b;
}

.logo {
    width: 10%;
    max-width: 120px;
    min-width: 40px;
    height: auto;
}

.titre {
    color: white;
    font-family: 'TheNextFont', 'arial';
    font-size: 4rem;
}

.slogan {
    color: rgb(255, 255, 255);
    font-family: 'dancingSCript', 'arial';
    font-size: 1.5rem;
    text-align: end;
    margin-right: 95px;
    margin-top: 50px;
}

.nav-container {
    width: 90%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: auto;
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;

}

nav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.3rem;
    font-family: 'TheNextFont', 'arial';
}

nav li a:hover {
    color: #09fc6e;
}

nav li a.active {
    color: #09fc6e;
}

.textIndex {
    color: white;
    font-family: 'Lato light', 'arial';
    padding-right: 100px;
    font-size: 1rem;
}

.texteFocus1 {
    font-size: 4rem;
    font-family: 'TheNextFont', 'arial';
    line-height: 0.80;
    margin-top: 50px;
    background-image: linear-gradient(to right, #00f7ff, #09fc6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.custom-bouton1 {
    background-image: linear-gradient(to right, #00f7ff, #09fc6e);
    color: #000000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Lato light', 'arial';
    margin-right: 20px;
    text-decoration: none;
    display: inline-block;
}

.custom-bouton2 {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Lato light', 'arial';
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.custom-bouton1 span,
.custom-bouton2 span {
    display: inline-block;
}

.custom-bouton1:hover,
.custom-bouton2:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-color: #00f7ff;
}

.label-custom {
    color: #00f7ff;
    font-family: 'Lato light', 'arial';
    font-size: 1.8rem;
}

.label-custom {
    color: #00f7ff;
    font-family: 'Lato light', 'arial';
    font-size: 1.8rem;
}

.info-custom {
    color: white;
    font-family: 'Lato light', 'arial';
    font-size: 1.8rem;
}

.texteAnimation {
    font-size: 3rem;
    color: #c7c7c7;
    line-height: 1;
    font-family: 'Lato light';
    margin-bottom: 200px;
    margin-top: 200px;
}

.d-flex.justify-content-start {
    display: flex;
    justify-content: flex-start;
}

.texteFocus {
    font-size: 1.7rem;
    color: #56ffa8;
    font-family: 'lato', 'arial';
}

.containerChevron {
    position: relative;
    margin-left: 50px;
    width: 24px;
    height: 24px;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;
    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.titreGalerie {
    font-size: 4rem;
        font-family: 'TheNextFont', 'arial';
        line-height: 0.80;
        margin-top: 50px;
        background-image: linear-gradient(to right, #00f7ff, #09fc6e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}


.titreIndex span,
.titreGalerie span,
.titreProposer span,
.titreFaq span,
.titreInfos span {
    color: white;
}

.tableau {
    width: 80%;
}

.galerieText {
    color: white;
    font-family: 'lato light', 'arial';
    font-size: 1rem;
}

.form-control,
.form-control:focus,
#inputCommentaire,
#inputCommentaire:focus {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(255, 255, 255, 0.062) !important;
    border: none !important;
    resize: none !important;
    font-size: 1rem !important;
    font-family: 'Lato light', 'Arial' !important;
    box-shadow: none !important;/
}

::placeholder {
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(255, 255, 255, 0.185) inset !important;
    transition: background-color 5000s ease-in-out 0s;
}



.accordion-button {
    background-color: #1b1b1b;
    border: none;
    padding: 20px;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    overflow: hidden;
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
    background-color: #1b1b1b;
    color: white;
}

.accordion-button.collapsed {
    background-color: #1b1b1b;
    color: #00f7ff;
    font-family: 'Lato light', 'arial';
    font-size: 1.8rem;
}

.accordion-item {
    border: none;
    margin-bottom: 10px;
    background-color: #1b1b1b;
}

.accordionText {
    padding: 20px;
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: 'Lato light', 'arial';
    font-size: 1.8rem;
}

.textInfo,
.textProposerMerci {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: 'lato light', 'arial';
    font-size: 1rem;
}

.textProposerMerci {
    padding-top: 100px;
    text-align: center;
    font-size: 1.5rem;
    font-size: 'lato light', 'arial';
}

.textFocusOrange {
    color: #fc9701;
    font-family: 'lato', 'arial';
}

.textFocusViolet {
    color: #7070ff;
    font-family: 'lato', 'arial';
}

button,
.resultat {
    background-color: #161616;
    color: white;
    font-family: 'lato', 'arial';
}

.boutonValider {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: white 1px solid;
    border-radius: 20%;
    padding: 5px;
    font-family: 'TheNextFont', 'arial';
}

.textAdmin {
    font-family: 'TheNextFont', 'arial';
    color: white;
}

.boutonJaime {
    margin-right: 10px;

}

.boutonValider:hover {
    color: #4b4b4b;
}

.placeBoutonValiderCentre {
    text-align: center;
}

footer {
    margin-top: auto;
    width: 100%;

}

.footerText {
    font-family: 'Lato light', 'arial';
    color: white;
    text-align: center;
    padding-top: 50px;
}

.iconesRS {
    height: 30px;
}

.menuBurger {
    display: none;
}

.menuBurgerDesign {
    display: none;
}

.content {
    flex: 1;
}

.titreEnregistrer, .h1Enregistrer {
    color: #ffffff!important;
        font-family: 'Lato light', 'arial';
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-5px, 5px);
    }

    40% {
        transform: translate(5px, -5px);
    }

    60% {
        transform: translate(-5px, 5px);
    }

    80% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(0);
    }
}

.glitch {
    animation: glitch 0.1s;
}


@media screen and (min-width: 1241px) {
    .viewSize {
        min-height: 54vh;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1240px) {
    .viewSize {
        min-height: 50vh;
    }
}

@media (max-width: 1024px) {
    .titre {
        font-size: 3rem;
    }

    .nav-container {
        display: none;
    }

    .textIndex {
        color: white;
        font-family: 'Lato light', 'arial';
        padding-right: 5px;
        font-size: 1rem;
        padding-top: 0px;
        padding-left: 5px;
    }

    .menuBurger {
        text-align: end;
        width: 95%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin: auto;
    }

    .menuBurgerDesign,
    .menuBurger {
        display: block;
    }

    .burger {
        width: 60px;
        height: 60px;
    }

    .menuBurgerDesign {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #1b1b1b;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .menuBurgerDesign a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 22px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .menuShown {
        width: 250px;
    }

    .menuBurgerDesign a:hover {
        color: #4b4b4b;
    }

    .menuBurgerDesign .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


    .galerieText {
        font-size: 1rem;
    }

    .accordionText {
        padding: 20px;
    }

    .accordion-item {
        margin-left: 00px;
        margin-right: 00px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .viewSize {
        min-height: 65vh;
    }
}
