include partials/head.pug
include partials/menu.pug

div.container-fluid
  div.row.flex-column-reverse.flex-md-row
    div.col-12.col-md-12
      p.textIndex
        h1.texteFocus1
          | Oublie tout ce que tu pensais savoir sur l'art !
        br
        div.d-flex.justify-content-start.mt-4
          a.custom-bouton1.mr-2(href="/glimpsGoneV2/enregistrer") Je veux en être !
          a.custom-bouton2.ml-2(href="/glimpsGoneV2/infos") Contactez-nous !
          div.containerChevron
            div.chevron
            div.chevron
            div.chevron
        br
      p.texteAnimation.box
        | Bienvenue chez Glimps Gone, la galerie où l'art est tellement avant-gardiste que votre petit esprit va enfin servir à quelque chose !
        br 
        | Nos œuvres invisibles ne se contentent pas de rester là, elles prennent vie dans votre tête, parce qu'ici c'est vous l'artiste !
        br 
        | Pas besoin de lunettes spéciales ni de charlatans pour apprécier notre exposition. Votre propre cerveau est la toile, votre imagination le pinceau.
        br 
        | Alors, prêts à plonger dans l'univers de l'art invisible ? À créer l'inimaginable et à rire de l'absurde ? Rejoignez notre fête de l'imagination et laissez votre esprit s'envoler (enfin, si vous en avez un) !

include partials/footer.pug
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js")
script(src="https://unpkg.com/splitting/dist/splitting.min.js")
script(src="https://unpkg.com/lenis@1.0.45/dist/lenis.min.js")
script(src="/glimpsGoneV2/public/js/script.js")
script(src="/glimpsGoneV2/public/js/accueil.js")
