include partials/head.pug
include partials/menu.pug

div.container-fluid.viewSize
  div.titre3Galerie.d-flex.justify-content-end.text-center.my-4
    h3.titreIndex.m-0
      | Qu'est ce que
      br
      | c'est ??

div.container-fluid
  div.row.flex-column-reverse.flex-md-row
    div.col-12.col-md-12
      p.textIndex
        | Bienvenue dans Glimps Gone l'Extravagante Galerie d'Art des Œuvres Invisibles !
        br
        span.texteFocus
          | Oubliez tout ce que vous pensiez savoir sur l'art !
        br
        | Ici, dans les couloirs de notre galerie, les œuvres d'art n'attendent pas sagement d'être admirées. Pourquoi ? Car elles sont invisibles !
        br
        | Notre collection unique est une célébration, un carnaval de l'imagination où les tableaux se cachent derrière le voile de l'invisible et jouent à cache-cache dans le néant.
        br
        | Pas de panique ! Pas besoin de lunettes spéciales ni de guides spirituels pour apprécier notre exposition. Votre propre esprit est la toile, votre imagination le pinceau.
        br
        span.texteFocus
          | Chez nous, chaque visiteur devient un artiste, un critique d'art déjanté, inventant des chefs-d'œuvre plus éclatés les uns que les autres.
        br
        | Alors, prêts à plonger dans le grand bain de l'art non-vu ? À interpréter le vide, à rire de l'absurde et à créer l'inimaginable ? Joignez-vous à la fête des sens (ou plutôt, du non-sens) et laissez votre imagination débridée faire le reste !

script(src="../public/js/script.js")
include partials/footer.pug
