    include partials/header
    include partials/menu

  <div class="container-fluid viewSize">
      <div class="titre3Galerie d-flex justify-content-end  text-center my-4">
          <h3 class="titreIndex m-0">Qu'est ce que<br><span>c'est ??</span></h3>
      </div>
      <div class="container-fluid">
          <div class="row flex-column-reverse flex-md-row">
              <div class="col-12 col-md-12 ">
                  <p class="textIndex">Bienvenue dans Glimps Gone l'Extravagante Galerie d'Art des Œuvres
                      Invisibles !<br>
                      <span class="texteFocus">Oubliez tout ce que vous pensiez savoir sur l'art !</span><br>
                      Ici, dans les couloirs de notre galerie, les œuvres d'art n'attendent pas sagement d'être
                      admirées.
                      Pourquoi ? Car elles sont invisibles !<br>
                      Oui, vous avez bien entendu.<br>
                      Notre collection unique est une célébration, un carnaval de l'imagination où les
                      tableaux se cachent derrière le voile de l'invisible et jouent à cache-cache dans le
                      néant.<br>
                      Pas de panique !<br>
                      Pas besoin de lunettes spéciales ni de guides spirituels pour apprécier notre exposition.
                      Votre
                      propre esprit est la toile, votre imagination le pinceau. Chez nous, <span class="texteFocus">chaque visiteur devient un
                          artiste</span>, un critique d'art déjanté, inventant des chefs-d'œuvre plus éclatés les
                      uns que les
                      autres.<br>
                      Alors, prêts à plonger dans le grand bain de l'art non-vu ? <br>
                      À interpréter le vide, à rire de l'absurde et à créer l'inimaginable ? Joignez-vous à la
                      fête des
                      sens (ou plutôt, du non-sens) et laissez votre imagination débridée faire le reste !
                  </p>
              </div>
          </div>
      </div>

  </div>

    include partials/footer
