include partials/head.pug
include partials/menu.pug

div.container-fluid
    h1.texteFocus1
        | Mais quel génie !
    br
    p.textInfo
        | Merci pour cette œuvre révolutionnaire !
        br
        | On va sûrement changer le monde avec ça... ou peut-être juste notre déco de bureau.
        br
        | Allez jeter un œil dans la galerie, histoire de prétendre que c'est le nouveau Picasso !

include partials/footer.pug
script(src="/glimpsGoneV2/public/js/script.js")
script(src="/glimpsGoneV2/public/js/ajouter.js")
