    include partials/header
    include partials/menu

    <div class="titre3Galerie d-flex justify-content-end  text-center my-4">
        <h3 class="titreProposer m-0">Soumettez votre oeuvre <br><span>invisible</span></h3>
    </div>
    <div>
        <p class="textInfo">
            Votre œuvre, un secret murmuré au monde, mérite une estrade au sein de notre galerie. C'est un pacte de
            confiance en la puissance de l'invisible, en la capacité de l'absent à émouvoir, à questionner, à
            relier. "Glimps Gone" n'est pas seulement un espace d'exposition ; c'est un voyage vers l'intérieur, une
            célébration de l'art qui transcende la matière. <br>

            Nous vous invitons à libérer votre vision. Laissez "Glimps Gone" être le réceptacle de vos rêves, de vos
            pensées non dites. Ensemble, explorons la richesse de l'inexploré, prouvant que l'art ne se limite pas à
            ce qui peut être vu ou touché. Il réside aussi dans ce qui est ressenti, imaginé, partagé. Lancez-vous,
            partagez votre œuvre invisible, et enrichissez notre monde de votre unique perspective.</p>
    </div>
    <div class="container-fluid">
        <form id="formulaireProposerid" class="formulaireProposer" data-parsley-validate>
            <div class="row flex-md-row">
                <div class="col-md-6 col-12">
                    <div class="mb-3">
                        <input class="form-control" id="inputPrenom" name="inputPrenom" placeholder="Nom de scène" required data-parsley-trigger="change" data-parsley-minlength="1" data-parsley-maxlength="25" required data-parsley-required-message="Tu nous files ton nom de scène ?">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="inputNom" placeholder="Titre de l'oeuvre" required data-parsley-trigger="change" data-parsley-minlength="1" data-parsley-maxlength="25" required data-parsley-required-message="Oups ! Ton titre semble s'être égaré quelque part entre les lignes. Sans lui, tu risques de rester un mystère !">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" required data-parsley-trigger="change" data-parsley-type="email" required data-parsley-required-message="Alerte ! Ton email a décidé de prendre des vacances sans prévenir. Nous sommes désormais aussi perdus qu'une chèvre dans un jeu de piste !">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="inputTelephone" placeholder="Téléphone" required data-parsley-trigger="change" pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$" required data-parsley-required-message="Ce formulaire se sent aussi désemparé qu'un poisson hors de l'eau sans ton numéro de téléphone !">

                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="mb-3">
                        <textarea class="form-control" id="inputCommentaire" rows="6" placeholder="Ajoutez votre oeuvre ici" style="resize: none;"></textarea>
                    </div>
                    <button type="submit" id="boutonValiderProposer">Envoyer</button>

                </div>
            </div>
    </div>
    </form>
    include partials/footer
    <script src="/glimpsGoneV2/asset/js/script.js"></script>
    <script src="/glimpsGoneV2/asset/js/formulaire.js"></script>
    <script src="/glimpsGoneV2/asset/js/ajouter.js"></script>
