include partials/head.pug
include partials/menu.pug

div.titre3Galerie.d-flex.justify-content-end.text-center.my-4
  h3.titreProposer.m-0
    | Soumettez votre oeuvre
    br
    span invisible

div
  p.textProposerMerci
    | Merci, nous sommes ravis de plonger dans votre univers artistique !
    br
    | Nous vous informons que votre oeuvre commence à 
    span.textFocusOrange inspirer le monde !
    br
    | Rendez-vous dans la galerie pour l'a "voir" !

div.placeBoutonValiderCentre
  a.boutonValider(href="galerie.html") Galerie

include partials/footer.pug
script(src="/glimpsGoneV2/public/js/script.js")
script(src="/glimpsGoneV2/public/js/ajouter.js")
