    include partials/header
    include partials/menu
    
    
    <div class="titre3Galerie d-flex justify-content-end  text-center my-4">
        <h3 class="titreProposer m-0">Soumettez votre oeuvre<br><span>invisible</span></h3>
    </div>
    <div>
        <p class="textProposerMerci">Merci, nous sommes ravis de plonger dans votre univers artistique ! <br>Nous vous informons que votre oeuvre commence à <span class="textFocusOrange">inspirer le monde !</span><br> Rendez vous dans la galerie pour l'a "voir" !</p>
    </div>
    <div class="placeBoutonValiderCentre"><a class="boutonValider" href="galerie.html">Galerie</a>
    </div>
    include partials/footer
    <script src="/glimpsGoneV2/asset/js/script.js"></script>
