include partials/head.pug
include partials/menu.pug

div.titre3Galerie.d-flex.my-4
    h1.texteFocus1
        | À croire que revenir ici est plus attrayant que de répondre aux textos de ton ex !
    br

div
  p.textInfo
    | Connecte-toi ma beauté !

div.container-fluid
  form#formulaireConnexion.formulaireConnexion(action="/glimpsGoneV2/connexion" method="POST")
    div.row.flex-md-row
      div.col-md-6.col-12.m-auto
        div.mb-3
          label.label-custom(for="inputEmail") Email:
          input.form-control#inputEmail(name="email" type="email" placeholder="Email..." required)
        div.mb-3
          label.label-custom(for="inputPassword") Mot de passe:
          input.form-control#inputPassword(name="password" type="password" placeholder="Mot de passe..." required)
        button#boutonValiderConnexion.custom-bouton1(type="submit")
            span Se connecter

include partials/footer.pug
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js")
script(src="https://unpkg.com/splitting/dist/splitting.min.js")
script(src="https://unpkg.com/lenis@1.0.45/dist/lenis.min.js")
script(src="/glimpsGoneV2/public/js/script.js")
