include partials/head.pug
include partials/menu.pug

div.d-flex.my-4
    h3#titreOeuvre.titreGalerie.m-0
        |
        br
        span 
div.container-fluid
    div.row.flex-column-reverse.flex-md-row
        div.col-12.col-md-9.d-flex.align-items-center
            p#descriptionOeuvre.galerieText.text-center.text-md-start
        div.col-12.col-md-3.text-center
            img#imageOeuvre.tableau(src="/glimpsGoneV2/public/img/Tableau.png", alt="Photo d'un encadrement de tableau orné, de couleur argenté, avec du vide à l'intérieur")
div.container-fluid#compteurJJ
    div.row.justify-content-center.align-items-center.text-center
        div.col-12.col-lg-6
            div.row
                div.col-6
                    button#btn_precedent.custom-bouton2
                        span Précédent
                div.col-6
                    button#btn_suivant.custom-bouton1.ml-2
                        span Suivant

include partials/footer.pug
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js")
script(src="https://unpkg.com/splitting/dist/splitting.min.js")
script(src="https://unpkg.com/lenis@1.0.45/dist/lenis.min.js")
script(src="/glimpsGoneV2/public/js/script.js")
script(src="/glimpsGoneV2/public/js/galerie.js")
