include partials/head.pug
include partials/menu.pug

div.d-flex.justify-content-end.text-center.my-4
    h3#titreOeuvre.titreGalerie.m-0(style="display:none")
        | Le Reveur des Prairies
        br
        span Jerome Floyd 2024
div.container-fluid
    div.row.flex-column-reverse.flex-md-row
        div.col-12.col-md-9.d-flex.align-items-center
            p#descriptionOeuvre.galerieText.text-center.text-md-start(style="display:none")
                | Au cœur de cette vaste toile étendue, intitulée "Le Rêveur des Prairies", trône majestueusement un âne, dont la présence discrète évoque à la fois votre curiosité insatiable et votre aspiration indomptable à l'aventure. 
                br
                | Son regard, empreint de malice et de sagesse, semble scruter l'horizon lointain, où se dessinent les contours de l'inconnu. Autour de lui, la prairie s'étend à perte de vue, tel un océan de verdure infinie, vibrant de vie et de mystère. 
                br
                | Chaque brin d'herbe, chaque pétale de fleur semble participer à un ballet harmonieux, offrant à vous, cher spectateur, un tableau vivant de diversité et de beauté. Les couleurs se mêlent dans une symphonie enchanteresse, tandis que les rayons du soleil, émergeant timidement à l'horizon, caressent la scène d'une lumière dorée, promettant un nouveau jour empli d'aventures et de découvertes.
                br
                | Dans cet univers foisonnant de détails et de sensations, chaque élément semble avoir une histoire à raconter, un secret à révéler. Vous imaginez sans doute les doux murmures du vent dans les hautes herbes, les parfums enivrants des fleurs sauvages, le frisson de l'herbe sous les sabots de l'âne avide d'exploration.
                br
                | Et puis, il y a cet âne, fier et déterminé, prêt à partir à l'aventure. Il incarne à lui seul le voyageur qui sommeille en chacun de nous, rappelant avec force que les plus grandes explorations débutent souvent par un simple pas dans l'inconnu. Son attitude résolue vous invite au dépassement de soi, à l'audace de franchir les frontières du connu pour plonger tête baissée dans l'océan de l'inconnu.
                br
                | En contemplant cette scène empreinte de magie et de poésie, vous vous trouvez transporté dans un autre monde, où le temps semble suspendu et où les rêves prennent vie. 
                br
                | Car au-delà de la simple représentation artistique, "Le Rêveur des Prairies" éveille en chacun de vous cette soif d'aventure et cette fascination pour l'inconnu qui font battre le cœur de l'humanité depuis la nuit des temps.
        div.col-12.col-md-3.text-center
            img.tableau(src="/glimpsGoneV2/public/img/Tableau.png", alt="Photo d'un encadrement de tableau orné, de couleur argenté, avec du vide à l'intérieur")
div.container-fluid#compteurJJ(style="display:none")
    div.row.justify-content-center.align-items-center.text-center
        div.col-12.col-lg-6
            div.row
                div.col-6
                    button#btn_jaime.btn
                        img.boutonJaime(src="/glimpsGoneV2/public/img/iconeJaime.png", alt="Bouton j'aime, pour aimer l'article")
                    span#jaimeOeuvre.resultat
                div.col-6
                    button#btn_jaime_pas.btn
                        img.boutonJaime(src="/glimpsGoneV2/public/img/iconeJaimePas.png", alt="Bouton je n'aime pas")
                    span#jaimePasOeuvre.resultat
        div.col-12.col-lg-6
            div.row
                div.col-6
                    a#btn_precedent.boutonValider(href="#") Précédent
                div.col-6
                    a#btn_suivant.boutonValider(href="#") Suivant

include partials/footer.pug
script(src="/glimpsGoneV2/public/js/script.js")
script(src="/glimpsGoneV2/public/js/galerie.js")
