include partials/head.pug
include partials/menu.pug

div.container-fluid
    h1.texteFocus1
        | la base de donnée est down déso !
    br
    p.textInfo
        | Si vous trouvez un numero pour nous joindre, appelez-nous ! 
        br
        | L'équipe de l'Extravagante Galerie
        
include partials/footer.pug
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js")
script(src="https://unpkg.com/splitting/dist/splitting.min.js")
script(src="https://unpkg.com/lenis@1.0.45/dist/lenis.min.js")
script(src="/glimpsGoneV2/public/js/script.js")
script(src="/glimpsGoneV2/public/js/galerie.js")
