include partials/head.pug
include partials/menu.pug

div.titre3Galerie.d-flex.justify-content-end.text-center.my-4
    h3.titreInfos.m-0
        | Le grand
        br
        span rien
div
    p.textProposerMerci
        | Fin de l'expo, ou début de la réflexion ?
        br
        | Comme un final
        | d'art invisible, un clin d'œil malicieux à l'absurde. Merci d'avoir partagé ce moment de "moins c'est plus" avec nous.
        br
        br
        | L'Extravagante Galerie vous salue !
div.placeBoutonValiderCentre
    a.boutonValider(href="galerie.pug") Galerie

include partials/footer.pug
script(src="/glimpsGoneV2/public/js/script.js")
