include partials/head.pug
include partials/menu.pug

div.container-fluid
    h1.texteFocus1
        | Merci d'avoir pris contact avec nous !
    br
    p.textInfo
        | Bravo, ton message a été reçu ! Maintenant, croise les doigts et espère qu'on te réponde un jour.
        br
        | Ton intérêt pour notre galerie
        | nous touche tellement profondément qu'on en pleurerait... Lol.

include partials/footer.pug
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js")
script(src="https://unpkg.com/splitting/dist/splitting.min.js")
script(src="https://unpkg.com/lenis@1.0.45/dist/lenis.min.js")
script(src="/glimpsGoneV2/public/js/script.js")
