    include partials/header
    include partials/menu
    
    

  <div class="titre3Galerie d-flex justify-content-end  text-center my-4">
    <h3 class="titreInfos m-0">Virginie<br><span>Baldacchino</span></h3>
  </div>
  <div>
    <p class="textProposerMerci">Merci d'avoir pris contact avec nous ! <br>Nous avons bien reçu votre message
      et reviendrons vers vous dès que possible pour répondre à vos questions et discuter de vos besoins.
      <br>Votre intérêt pour notre galerie <span class="textFocusViolet">nous touche profondément.</span>
    </p>
  </div>
  <div class="placeBoutonValiderCentre"><a class="boutonValider" href="index.html">Page d'accueil</a>
  </div>
     include partials/footer
  <script src="/glimpsGoneV2/asset/js/script.js"></script>

