include partials/head.pug
include partials/menu.pug

div.titre3Galerie.d-flex.justify-content-end.text-center.my-4
    h3.titreInfos.m-0
        | Virginie
        br
        span Baldacchino
div
    p.textProposerMerci
        | Merci d'avoir pris contact avec nous !
        br
        | Nous avons bien reçu votre message
        | et reviendrons vers vous dès que possible pour répondre à vos questions et discuter de vos besoins.
        br
        | Votre intérêt pour notre galerie
        span.textFocusViolet nous touche profondément.
div.placeBoutonValiderCentre
    a.boutonValider(href="index.html") Page d'accueil

include partials/footer.pug
script(src="../public/js/script.js")
