include partials/head.pug
include partials/menu.pug

div.titre3Galerie.d-flex.justify-content-end.text-center.my-4
    h3.titreInfos.m-0
        | Virginie
        br
        span Baldacchino
div
    p.textInfo
        | Passionnée d'art, de design et de décoration d'intérieur, je m'efforce de créer des espaces qui allient beauté et fonctionnalité, capturant l'essence de l'innovation. C'est dans cet esprit que "Glimps Gone : L'Extravagante Galerie d'Art des Œuvres Invisibles" est né, reflétant ma vision personnelle et mon engagement pour l'art dans toutes ses formes.
        br
        | Ce projet transcende les limites du perceptible, offrant un espace où
        span l'imaginaire domine.
        |  À travers Glimps Gone, j'invite le public à explorer l'art invisible et à célébrer notre imagination collective. Rejoignons-nous dans cette aventure extraordinaire, découvrant l'art omniprésent, prêt à être perçu par ceux qui regardent au-delà du visible.
div.container-fluid
    form.formulaireProposer(data-parsley-validate)
        div.row.flex-md-row
            div.col-md-6.col-12
                div.mb-3
                    input.form-control#inputPrenom(placeholder="Prénom", required, data-parsley-trigger="change", data-parsley-minlength="1", data-parsley-maxlength="25", required, data-parsley-required-message="Si ton prénom était une danse, il serait le tango invisible. On ne peut pas le suivre sans le connaître !")
                div.mb-3
                    input.form-control(type="text", id="inputNom", placeholder="Nom", required, data-parsley-trigger="change", data-parsley-minlength="1", data-parsley-maxlength="25", required, data-parsley-required-message="Sans nom, tu es un artiste anonyme comme Banksy, mais moins cool !")
                div.mb-3
                    input.form-control(type="email", id="inputEmail", placeholder="Email", required, data-parsley-trigger="change", data-parsley-type="email", required, data-parsley-required-message="Un email non renseigné, c'est comme envoyer une lettre par pigeon voyageur... en oubliant le pigeon.")
                div.mb-3
                    input.form-control(type="tel", id="inputTelephone", placeholder="Téléphone", required, data-parsley-trigger="change", required, data-parsley-required-message="Ce numéro de téléphone ne nous mène nulle part. Un vrai mystère.", pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$")
            div.col-md-6.col-12
                div.mb-3
                    textarea.form-control#inputCommentaire(rows="6", placeholder="Ajoutez votre message ici", style="resize: none;")
                button#boutonValiderInfos(type="submit") Envoyer

include partials/footer.pug
script(src="../public/js/script.js")
script(src="../public/js/formulaire.js")
script(src="../public/js/ajouter.js")
