include partials/head.pug
include partials/menu.pug

div.row.mt-5
    div.col-lg-4.col-md-6.col-10.bg-light.m-auto.border.border-1.rounded.shadow.p-3
        h1.mt-3.mb-4.h3.text-center Formulaire de connexion
        //- Appel à une fonction PHP
        php displayMessage();
        form(method="POST", action="../controllers/logUser.php")
            div.mb-3
                label(for="email", class="form-label") Email
                input(type="email", name="email", id="email", class="form-control")
            div.mb-3
                label(for="password", class="form-label") Password
                input(type="password", name="password", id="password", class="form-control")
            input(type="submit", name="submit", class="btn btn-dark")

include partials/footer.pug
