include partials/head.pug
include partials/menu.pug

div.container
    // PHP displayMessage() function call
    h1.mt-3 Bonjour <?= $user['nom'] ?>
    pre id="userId" id user : <?= $user['idutilisateur'] ?>
    p Mon email: <?= $user['email'] ?>
    p.fs-3 Mes rôles : 
        //- PHP foreach loop for roles
        each role in roles
            p= role
    a.btn.btn-danger(href="../controllers/logout.php") déconnexion


include partials/footer.pug
